body{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #F2F2F0;
    
}
.rodape{
    background-color: #447322;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.rodape a{
    display: inline-block;
    margin-right: 10px;
}
.rodape a:last-child{
    margin-right: 0px;
}
.rodape a img{
    vertical-align: middle;
}
.discord,.git,.linke{
    position: static;
    right: auto;
}

.discord{width: 70px;}
.git{width: 60px;}
.linke{width: 100px;}

.caixa_fundo_apresentacao{
    width: 400px;
    padding: 30px;
    background-color: #BEF299;
    border-radius: 30px;
    border: 1px solid#BEF299;
}
.bee{
width: 35px;
height: 22px;
}
.front{
width: 60px;
height: 22px;
}
.cssClass{
    width: 200px;
    height: 300px;
    right: 20px;
}
.htmlClass{
    width: 300px;
    height: 300px;
    right: 220px;
}
.cssClass,.htmlClass{
    top: 10px;
    position: fixed;
}
