@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: black;
    color: #f6f6f6;
    /* background-color:rgb(103, 96, 175) */
}

.apresentacao{
    display: flex;
    flex-direction: column;
    width: 1048px;
}

#principal{
    display: flex;
    box-sizing: content-box;
    align-items: center;
    justify-content: space-around;  
}

.cssID{
    width: 350px;
    height: 532px;
}
.apresentacao_titulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    padding-bottom: 40px;
  }
  .apresentacao_destaque{
    color: blue;
  }
  .destaque_amarelo{
    color: yellow;
  }
  .mont_s {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 24px;
    
  }

.apresentacao_botoes{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    font-size: 24px;
    padding-top: 38px;
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
} 

.apresentacao_botao{
    background-color: aqua;
    text-decoration: none;
    padding: 16px;
    color: #000000;
    text-align: center;
    border: 0cap;
    /* alterar border */
} 
